.c-layout-header {
  .c-brand {
    @include respond-to-custom-size(992px){
      margin: 24px 0;
    }
    @include respond-to-custom-size(null, 768px){
      margin: 20px 15px;
      padding: 4px 0;
    }
    img{
      max-width: 180px;
      height: auto;
      @include respond-to-custom-size(769px, 992px){
        max-width: 140px;
      }
      @include respond-to-custom-size(null, 768px){
        max-width: 110px;
        margin-top: 3px;
      }
    }
  }
  .c-btn-header{
    @include respond-to-custom-size(null, 992px){
      max-width: 130px;
    }
  }
  .c-navbar{
    @include respond-to-custom-size(null,991px){
      height: auto;
    }
  }
}
.c-layout-header.c-layout-header-default-mobile .c-brand > .c-hor-nav-toggler{
  @include respond-to-custom-size(769px, 991px){
    top: 6px;
  }
  @include respond-to-custom-size(null,768px){
    top: 4px;
  }
}
.c-brand > .c-cart-toggler.signin-rp{
  @include respond-to-custom-size(769px, 992px){
    padding-top: 2px;
    padding-left: 14px;
  }
  @include respond-to-custom-size(null, 768px){
    padding-top: 0;
    padding-left: 14px;
  }
}
.btn-sign-in{
  float: right;
  padding-top: 34px;
  @include respond-to-custom-size(null, 992px){
    display: none;
  }
}